<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.mapper.AttendanceDataMapper">

	<insert id="add"
		parameterType="com.example.demo.model.AttendanceData"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		tb_t_attendance_data(loginName,fullName,status,startAt,endAt,deskName,siteName,floorName)
		VALUES(#{loginName},#{fullName},#{status},#{startAt},#{endAt},#{deskName},#{siteName},#{floorName})
	</insert>

</mapper>